*.aux
*.log
*.blg
*.bbl
*.synctex*

*.DS_Store

.Rproj.user
.Rhistory
.RData
.Ruserdata

R/*.html
R/test-*.R
*.html
*.pdf
model/R/figs/
*.rds
*.png
*.history

presentation-colloquium-HU/
notes/
node_modules/
results/pretests/*

# do include index.html files
!*index*.html